@model LoginViewModel
@{

    Layout = null;
    ViewData["Title"] = "ChangePassword";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/changePassword.css" />
</head>
<p value="@Model.UserName" id="justUserName">
</p>

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box">
                            <br>
                            <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                        </div>
                        <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                    <input class="form-control" type="password" id="currPassword" placeholder="Current Password">
                                </div>
                                <span style="color:red" id="focus-currPassword" data-placeholder="&#xf207;"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
                                    <input asp-for="Password" class="form-control" type="password" id="newPassword" placeholder="New Password">
                                </div>
                                <span style="color:red" id="focus-newPassword" data-placeholder="&#xf207;"></span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn icon-btn-save btn-success" asp-controller="Home" asp-action="Login" value="@Model.Password" type="submit" id="@Model.UserName" onclick="changePassword(this.value,this.id)">
                                <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/changePassword.js"></script>
