<button type="button" id="asd">click me</button>
<span id="focus-Password" data-placeholder="&#xf207;"></span>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $('#asd').click(function (e) {
        $('#focus-Password').text('asd');
    })

</script>
