@*<div id="add-here" class="form-group">
</div>
    <button id="test" >Click me</button>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        let current = 0;
        $('#test').click(function () {
            const inputs = `<div>Ingredient ${current + 1}</div>
                            <option name="specificIngredients[${current}].ingredient" placeholder="Name..." type="text"  id="testing" class="form-control">Select Ingredient</option>
                            <input name="specificIngredients[${current}].quantity" placeholder="Quantity..." type="text" class="form-control" />
                            <input name="specificIngredients[${current}].unit" placeholder="Item..." type="text" class="form-control" />
                            <hr>`
            current++;
            $('#add-here').append(inputs);
        })
    })
    $('#testing').click()
    {
        console.log(15);
    }
</script>*@