@*<!DOCTYPE HTML>
<html>
<head>
    <title>
        Get the ID of the clicked button
        using JavaScript
    </title>
<style>
    .nzdiw {
            /*padding: 5px;
            width: 200px;*/
            
            background: #006699;
            padding: 5px;
            display: none;
            position: absolute;
            top: 27px;
        }
</style>
</head>

<body style="text-align:center;">



    <div id="box">
        <button type="submit" id="form" onClick="GFG_click(this.id)" class="btn btn-primary">Email preview</button>
        <form action="" href="#" id="form" class="nzdiw">
            <p>асдасдy</p>
            <button typy="submit" id="invalidButton" class="btn btn-primary">адасд</button>
            <button type="submit" id="newButton" class="btn btn-primary">New</button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        function GFG_click(clicked) {
            console.log(clicked);
            $('#box clicked').toggle("slow");
        }
    </script>
</body>
</html>*@   