@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link href="~/css/error404.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div id="page404">
    
            <button asp-controller="Home" asp-action="Privacy" class="btn btn-light">Back To DashBoard</button>
        </div>
    </div>
</body>
</html>
