
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 210px;
}
.custom-validation {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 1.7;
    color: red;
    margin-left: 15px;
}
