@model RegisterViewModel
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/registerOperator.css">*@


<div class="registerBody">
    <div class="registerClass">
        <div class="row">
            <form class="col s12" id="reg-form">

                <div class="row">

                    <div class="input-field col s6">
                        <label>First Name</label>
                        <input asp-for="FirstName" type="text" name="firstname" id="your-firstName" class="input-text" placeholder="John">
                        <span asp-validation-for="FirstName" id="validate-firstName" class="custom-validation" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="input-field col s6">
                        <label>Second Name</label>
                        <input asp-for="LastName" type="text" name="lastname" id="your-lastName" class="input-text" placeholder="Snow">
                        <span asp-validation-for="Email" id="validate-email" class="custom-validation" data-placeholder="&#xf207;"></span>
                    </div>
                </div>

                <div class="row">
                        <label>Email</label>
                    <div class="input-field col s6">
                        <input asp-for="Email" type="text" name="email" id="your-email" class="input-text" placeholder="gameofthrones@gmail.com" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}">
                        <span asp-validation-for="Email" id="validate-email" class="custom-validation" data-placeholder="&#xf207;"></span>
                    </div>
                    <div class="input-field col s6">
                        <label>UserName</label>
                        <input asp-for="UserName" type="text" name="username" id="your-name" class="input-text" placeholder="Johny" required>
                        <span asp-validation-for="UserName" id="validate-name" class="custom-validation" data-placeholder="&#xf207;"></span>
                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label>Password</label>
                        <input asp-for="Password" type="password" name="password" id="password" class="input-text" placeholder="JohnIsGod" required>
                        <p asp-validation-for="Password" id="validate-password" class="custom-validation" data-placeholder="&#xf207;"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label>Confirm Password</label>
                        <input asp-for="Password" type="password" name="confirmpassword" id="confirm-password" class="input-text" placeholder="JohnIsGod" required>
                        <p asp-validation-for="ConfirmPassword" class="custom-validation" id="ConfirmPassword" data-placeholder="&#xf207;"></p>
                    </div>
                </div>

                <div class="input-field col s6">
                    <div class="gender-male" id="operator-manager">
                        <input class="with-gap" name="role" value="Operator" type="radio" id="operator" required />
                        <label for="operator">Operator</label>
                    </div>
                    <div class="gender-female">
                        <input class="with-gap" name="role" value="Manager" type="radio" id="manager" required />
                        <label for="manager">Manager</label>
                    </div>
                </div>

                <div class="input-field col s6">
                    <input type="button" id="RegisterButton" name="register" class="register btn btn-large btn-register waves-effect waves-light" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/js/Register.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/registerOperator.css" />
    <link rel="stylesheet" href="~/css/toastr.css" />
}