@model  RegisterViewModel

<link rel="stylesheet" type="text/css" href="~/css/registerOperator.css">

<div class="page-content">

    <div class="form-v9-content">
        <form class="form-detail">
            <h2>Registration Form</h2>
            <div class="form-row-total">
                <div class="form-row">
                    <input asp-for="Email" type="text" name="email" id="your-email" class="input-text" placeholder="Email" required pattern="[^@@]+@@[^@@]+.[a-zA-Z]{2,6}">
                    <p asp-validation-for="Email" id="validate-email" class="custom-validation" data-placeholder="&#xf207;"></p>
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input asp-for="UserName" type="text" name="username" id="your-name" class="input-text" placeholder="Username" required >
                    <p asp-validation-for="UserName" id="validate-name" class="custom-validation" data-placeholder="&#xf207;"></p>
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input asp-for="Password" type="password" name="password" id="password" class="input-text" placeholder="Password" required>
                     <p asp-validation-for="Password" id="validate-password" class="custom-validation" data-placeholder="&#xf207;"></p>
                </div>
            </div>
            <div class="form-row-total">
                <div class="form-row">
                    <input asp-for="Password" type="password" name="confirmpassword" id="confirm-password" class="input-text" placeholder="Cofirm Password" required>
                    <p asp-validation-for="ConfirmPassword"  class="custom-validation" id="ConfirmPassword" data-placeholder="&#xf207;"></p>
                </div>
            </div>
            <div class="form-row-last">
                <input type="button" id="RegisterButton" name="register" class="register" value="Register">
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Register.js"></script>
